@page 
@model EditSkillsMatrix.Pages.Admin.Categories.CountsModel
@{
    ViewData["Title"] = "Counts of Questions";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<br />
    <form asp-page="./Index" method="get">
    <div class="form-actions me-2">
        <p>
            <a asp-page="./Index" class="btn btn-warning"><i class="bi bi-emoji-wink"> </i>Back to full List</a>
        </p>
    </div>
</form>
    <table class="table table-bordered table-striped table-secondary" style="font-size:18px">
        <thead class="table-primary">
                
            <tr>
                  <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.Team">
                    @Html.DisplayNameFor(model => model.Categories[0].TeamName)
                </a>
            <th>
                <a>
                 Qty of Questions
                </a>
            </th>
        </thead>
        <tbody>

 @foreach(var obj in Model.Categories.GroupBy(c => c.TeamName))
            {
            <tr>
                <td>
                    @obj.Key
                </td>
                <td>
                    @obj.Count()
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br>
    <div>


    </div>






