@page
@model EditSkillsMatrix.Pages.Admin.Categories.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <input hidden asp-for="Category.Id" />
    <input hidden asp-for="Category.TeamId" />
    
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 style="color:HighlightText; color:lawngreen;font-family:Consolas">Edit Question</h2>
            <hr />
            </div>
        </div>
        <div asp-validation-summary=All class=text text-warning></div>
        <div class="mb-3"> 
            <label asp-for="Category.Question">Question</label>
            <div class="col-9"> 
            <input asp-for="Category.Question" class="form-control" placeholder="Enter Category Name"/>
            <span asp-validation-for="Category.Question" class="text-danger"></span>
            </div>
            
        <div class="mb-3"> 
            <label asp-for="Category.Skill">Question Category</label>
                 <div class="col-9"> 
             <select asp-for="Category.Skill" asp-items="@(new SelectList(Model.QtypeModList,"Genre","Genre"))" class="form-select">
             
             <option selected disabled value="">Choose...</option>
        
            </select>
            <span asp-validation-for="Category.Skill" class="text-danger"></span>
         <label asp-for="Category.Skill">Choose the Team who will see this question</label>               
<div class="col-9"> 
              <select asp-for="Category.TeamName" asp-items="@(new SelectList(Model.TeamsList,"TeamName","TeamName"))" class="form-select">
               <option selected disabled value="">Who is this for?...</option>

           </select>
            <span asp-validation-for="Category.TeamName" class="text-danger"></span>
        </div>
 </div>
        </div>
           <div class="mb-3">
            <label asp-for="Category.DisplayOrder"></label>
            <div class="col-3">
            <input asp-for="Category.DisplayOrder" class="form-control" placeholder="Enter Order No."/>
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-warning" style="width:180px;">
            <i class="bi-clipboard2-data">&nbsp;&nbsp;</i>Submit Changes</button>
            <a asp-page="Index" class="btn btn-primary" style="width:180px;">
            <i class="bi bi-emoji-heart-eyes">&nbsp;&nbsp;</i>Back to List</a>
    </div> 
</form>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial.cshtml" />
    }
}