@page 
@model EditSkillsMatrix.Pages.Admin.Categories.LoginModel
@{
       ViewData["Title"] = "Name and Team";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
<h1 style="color:HighlightText; color:lawngreen;font-family:Consolas">Edit Skills Matrix</h1>
<br />  
</div>  
<p class="text-success" style="font-family:Consolas"><b>Radio Button Key: </b> <br />1 is the lowest score, and 5 is the highest rated / score</p>
<br />  
 <form asp-action="Submit" asp-controller="Login">


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group form-group-inline col-9">
                <label asp-for="Answers.User" class="control-label"></label>
                <input asp-for="Answers.User" class="form-control" placeholder="Add your Name" />
                <span asp-validation-for="Answers.User" class="text-danger"></span>
            </div><br />
            <div class="form-group form-group-inline">
                    <label asp-for="Answers.Role">Choose your Team or Area (required)</label>
                    </div> 
                 <div class="col-9"> 
           <select asp-for="Answers.Role" asp-items="@(new SelectList(Model.Teams,"TeamName","Value"))" class="form-select">
    <option selected disabled value="">Choose your Team or Area of Work</option>
     
           </select>
            <span asp-validation-for="Answers.Role" class="text-danger"></span>
            <input hidden asp-for="Answers.Rep" />
            </div> <br />   
          <br />  
           <button type="submit" class="btn btn-warning" style="width:180px;">
            <i class="bi bi-boombox">&nbsp;&nbsp;</i>Submit</button>


</form>



