@page
@model EditSkillsMatrix.Pages.Reports.ReportsModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <link href="dashboard.css" rel="stylesheet">
    <body>
        <hr />    <hr />
        <p>The below <u>report is refreshed every hour.</u>  If you have a <strong>Power BI Pro license</strong> you can view the lastest. refreshed report <a href="https://app.powerbi.com/reportEmbed?reportId=02795cba-fa04-45c5-9db9-01d8614d1a79&autoAuth=true&ctid=38abff21-a741-48ec-b54c-7a75ab89277c">Here!</a><br />
            If you don't see your results and you do not have a Power BI Pro licence, try coming back to this reporting page in 1 hours time</p>
    
        <iframe title="SkillsMatrixBI" width="1000 " height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNjY0NDVlYWItYjQ1NS00YThkLWE3MWMtNGZiYjczNWEzZDE3IiwidCI6IjM4YWJmZjIxLWE3NDEtNDhlYy1iNTRjLTdhNzVhYjg5Mjc3YyJ9&pageName=ReportSection5898d96ef725af84f6a1" frameborder="0" allowFullScreen="true"></iframe>
<p></p>                                                   

  </body>