@page
@model EditSkillsMatrix.Pages.Reports.ReportsModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <link href="dashboard.css" rel="stylesheet">
    <body>
        <hr />    <hr />
        <p>A link to the Power BI report is <a href="https://app.powerbi.com/reportEmbed?reportId=02795cba-fa04-45c5-9db9-01d8614d1a79&autoAuth=true&ctid=38abff21-a741-48ec-b54c-7a75ab89277c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVrLXNvdXRoLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9">Here!</a></p>
    
<iframe title="SkillsMatrixBI" width="1140" height="600" src="https://app.powerbi.com/reportEmbed?reportId=02795cba-fa04-45c5-9db9-01d8614d1a79&autoAuth=true&ctid=38abff21-a741-48ec-b54c-7a75ab89277c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVrLXNvdXRoLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    <p></p>

  </body>