@page
@model EditSkillsMatrix.Pages.Reports.ReportsModel
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <link href="dashboard.css" rel="stylesheet">
    <body>
        <hr />    <hr />
        <p>A link to the Power BI report is <a href="https://app.powerbi.com/reportEmbed?reportId=02795cba-fa04-45c5-9db9-01d8614d1a79&autoAuth=true&ctid=38abff21-a741-48ec-b54c-7a75ab89277c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVrLXNvdXRoLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9">Here!</a></p>
    
<iframe title="SkillsMatrixBI" width="1140" height="600" src="https://app.powerbi.com/reportEmbed?reportId=02795cba-fa04-45c5-9db9-01d8614d1a79&autoAuth=true&ctid=38abff21-a741-48ec-b54c-7a75ab89277c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVrLXNvdXRoLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    <p></p>
     <p>This site is also connected to Google Analytics for insights into users and events. If the chart does not automatically load, this could be due to access rights being.  As an alternative, this link can be accessed only by Edit employees
   <a href="https://datastudio.google.com/reporting/021798f0-3c01-47a9-af46-fadc2dc2d141">Google Analytics</a></p> 
  <iframe width="1140" height="855" src="https://datastudio.google.com/embed/reporting/021798f0-3c01-47a9-af46-fadc2dc2d141/page/cm3qC" frameborder="0" style="border:0" allowfullscreen></iframe>
   <p> If the chart does not automatically load, this link may be accessed by Edit employees only. 
   <a href="https://datastudio.google.com/reporting/021798f0-3c01-47a9-af46-fadc2dc2d141">Google Analytics</a></p>
      <br /><br />
      <div>
      <img height="150" width="150" src="/lib/Images/SkillsMatrixBI.jpg" />
    <img height="200" width="200" src="/lib/Images/GoogleQR.png" />
        </div>
  </body>