@page
@model EditSkillsMatrix.Pages.QType.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:HighlightText; color:lawngreen;font-family:Consolas">Edit Question Category Type</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QtypeMod.Id" />
            <div class="form-group">
                <label asp-for="QtypeMod.Genre" class="control-label"></label>
                <input asp-for="QtypeMod.Genre" class="form-control" />
                <span asp-validation-for="QtypeMod.Genre" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="QtypeMod.ValuetoDB" class="control-label"></label>
                <input asp-for="QtypeMod.ValuetoDB" class="form-control" />
                <span asp-validation-for="QtypeMod.ValuetoDB" class="text-danger"></span>
            </div>
               <div class="form-group">
                <br /><br />
                     <button type="submit" class="btn btn-warning" style="width:180px;">
            <i class="bi bi-boombox">&nbsp;&nbsp;</i>Save</button>
            </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
