@using System.IO;
@using System.Text.Json;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore;

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSB4XN9KJJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SSB4XN9KJJ');
</script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Skills Matrix</title>
    <link rel="stylesheet" href="~/EditSkillsMatrix.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/superman.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQBFHGB');</script>
<!-- End Google Tag Manager -->


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQBFHGB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header>
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
         <a class="navbar-brand active" href="/Index">Edit Skills Matrix</a>
       <span class="visually-hidden">(current)</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
 @*         <a class="nav-link active" href="/Index">Home
            <span class="visually-hidden">(current)</span>
          </a>*@
     @*   </li>
         <li class="nav-item">
          <a class="nav-link" asp-page="/Admin/Categories/Index">Add & Amend Questions</a>
         </li>*@
        <li class="nav-item">
          <a class="nav-link" href="/Questions/Questions">Skills Matrix</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Admin Tables</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="/Admin/Categories/Login">Login</a>
              <a class="dropdown-item" href="/Admin/Categories/Login2">Login2</a>
               <a class="dropdown-item" href="/Admin/Categories/Index">Questions Admin</a>
               <a class="dropdown-item" href="/Qtype/Index">Category Types</a>
               <a class="dropdown-item" href="/TeamAdd/Index">Teams</a>
               <a class="dropdown-item" href="/Admin/Categories/Counts">Qty of Questions by Team</a>
              <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/Reports/Reports">Reporting</a>
          </div>
        </li>                         
       
      </ul>
      <partial name="_Tempdata"/>
     @* <partial name="_LoginPartial" />*@
    </div>
  </div>
  
</nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Edit Skills Matrix &nbsp;&nbsp;<strong>.NET 6 : Bootstrap 5 : toastr  : JavaScript  :  Dependency Injection</strong> @* - <a asp-area="" asp-page="Privacy">Private</a>*@
        </div> 
 
    </footer>


    <!-- JavaScript Bundle with Popper -->
     
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
       <script src="~/js/site.js" asp-append-version="true"></script>
       <script src="~/js/site.min.js" asp-append-version="true"></script>
       <script src="~/lib/jquery/dist/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
 

  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>